<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<!-- The front controller of this Spring Web application, responsible for handling all application requests -->
	<servlet>
		<servlet-name>PermissionController</servlet-name>
		<servlet-class>com.nt.controller.CustomerController</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>PermissionController</servlet-name>
		<url-pattern>/permission</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
    <welcome-file>Customer-Master.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
		<servlet-name>DeleteController</servlet-name>
		<servlet-class>com.nt.controller.DeleteController</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteController</servlet-name>
		<url-pattern>/DeleteCustomer</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteCategoryController</servlet-name>
		<servlet-class>com.nt.controller.DeleteCategoryController</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCategoryController</servlet-name>
		<url-pattern>/DeleteCategoryCustomer</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteCarController</servlet-name>
		<servlet-class>com.nt.controller.DeleteCarController</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCarController</servlet-name>
		<url-pattern>/DeleteCarCustomer</url-pattern>
	</servlet-mapping>
	
	
	
  
	</web-app>